@import url("https://fonts.googleapis.com/css?family=Raleway:400,500|Slabo+27px&display=swap&subset=latin-ext");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background: #786e62;
}

.fa--light {
  color: #e7f2ff;
}

.heading {
  font-size: 2em;
  font-family: 'Slabo 27px', serif;
  letter-spacing: 2px;
}

p,
a {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
}

.menu--toggle {
  z-index: 1000;
  position: fixed;
  top: -100px;
  left: -100px;
  background: #626c78;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  cursor: pointer;
}

.menu--open,
.menu--close {
  position: absolute;
  right: 25%;
  top: 70%;
  -webkit-transform-origin: -50px -70px;
  -ms-transform-origin: -50px -70px;
  transform-origin: -50px -70px;
  /* snap effect */
  -webkit-transition: all 700ms cubic-bezier(1, 0.005, 0.24, 1);
  -o-transition: all 700ms cubic-bezier(1, 0.005, 0.24, 1);
  transition: all 700ms cubic-bezier(1, 0.005, 0.24, 1);
  font-size: 24px;
}

.menu--toggle:active i {
  opacity: 0.8;
}

.menu--close {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.open#myNav .menu--close {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.open#myNav .menu--open {
  -webkit-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  transform: rotate(-120deg);
}

.menu--items {
  z-index: 2;
}

.sub--menu--items {
  z-index: inherit;
}

.menu--items,
.sub--menu--items {
  position: absolute;
  bottom: 0;
  list-style: none;
}

.menu--items li,
.sub--menu--items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  margin-bottom: 30px;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px);
  /* snap effect */
  -webkit-transition: all 700ms cubic-bezier(1, 0.005, 0.24, 1);
  -o-transition: all 700ms cubic-bezier(1, 0.005, 0.24, 1);
  transition: all 700ms cubic-bezier(1, 0.005, 0.24, 1);
}

.open.menu--items li {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  /* bounce effect */
  -webkit-transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0.8;
}

.open.menu--items .link.blur a {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu--items li:nth-child(1),
.sub--menu--items li:nth-child(1) {
  margin-left: 30px;
}

.menu--items li:nth-child(2),
.sub--menu--items li:nth-child(2) {
  margin-left: 50px;
}

.menu--items li:nth-child(3),
.sub--menu--items li:nth-child(3) {
  margin-left: 70px;
}

.menu--items li:nth-child(4) {
  margin-left: 90px;
}

.menu--items a,
.sub--menu--items a {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  color: #e7f2ff;
}

.menu--items li:hover a,
.sub--menu--items li:hover a,
.menu--items li:focus a,
.sub--menu--items li:focus a,
.menu--items li:active a,
.sub--menu--items li:active a {
  opacity: 1;
}

.menu--items a .icon {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  font-size: 2em;
}

.open.sub--menu--items li {
  /* bounce effect */
  -webkit-transition: all 700ms 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 700ms 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 700ms 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: translateX(300px);
  -ms-transform: translateX(300px);
  transform: translateX(300px);
}

.sub--menu--items a {
  background-image: -o-linear-gradient(330deg, #a4d2ff 0%, #4191e1 a4d2ff 100%);
  background-image: linear-gradient(120deg, #a4d2ff 0%, #4191e1 a4d2ff 100%);
  background-repeat: no-repeat;
  background-size: 0% 0.1em;
  background-position: 0 99%;
  -webkit-transition: background-size 0.25s ease-in;
  -o-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
}

.sub--menu--items li:hover a,
.sub--menu--items li:focus a,
.sub--menu--items li:active a {
  background-size: 120% 0.1em;
}

.content {
  height: 400%;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  /* snap effect */
  -webkit-transition: all 700ms cubic-bezier(1, 0.005, 0.24, 1);
  -o-transition: all 700ms cubic-bezier(1, 0.005, 0.24, 1);
  transition: all 700ms cubic-bezier(1, 0.005, 0.24, 1);
  background: #e7f2ff;
  z-index: 800;
}

.content--inner {
  height: 25%;
  overflow-y: auto;
  padding: 80px 20%;
}

.open.content {
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.open__2.open.content {
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.content--part {
  display: block;
  margin-bottom: 3em;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* border for debuging */
  /* border: 1px solid black; */
}

.content--part .title {
  cursor: pointer;
  vertical-align: center;
  padding-left: 15px;
  background-image: -o-linear-gradient(330deg, #a4d2ff 0%, #4191e1 100%);
  background-image: linear-gradient(120deg, #a4d2ff 0%, #4191e1 100%);
  background-repeat: no-repeat;
  background-size: 5px 180%;
  background-position: 0px 50%;
  -webkit-transition: background-size 700ms ease-in-out;
  -o-transition: background-size 700ms ease-in-out;
  transition: background-size 700ms ease-in-out;
}

.content--part .title:hover {
  background-size: 100% 180%;
}

.title {
  margin-bottom: 1.5em;
}

.content--part p {
  line-height: 1.5em;
  padding-bottom: 1em;
}

.content--part li {
  margin-left: 5%;
}

.content--title--link {
  position: fixed;
  max-width: 10%;
  top: 75px;
  right: 5%;
  opacity: 0.3;
  -webkit-transition: all 700ms ease-in-out;
  -o-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}

.content--title--link:hover {
  opacity: 1;
}

.content--title--link li {
  margin-bottom: 0.5em;
}

.highlight {
  background-image: -o-linear-gradient(330deg, #a4d2ff 0%, #4191e1 100%);
  background-image: linear-gradient(120deg, #a4d2ff 0%, #4191e1 100%);
  background-repeat: no-repeat;
  background-size: 0% 0.3em;
  background-position: 0% 99%;
  -webkit-transition: background-size 0.25s ease-in-out;
  -o-transition: background-size 0.25s ease-in-out;
  transition: background-size 0.25s ease-in-out;
}

.highlight:hover {
  background-size: 120% 0.3em;
}

.highlight--link {
  font-weight: 500;
  background-image: -o-linear-gradient(330deg, #a4d2ff 0%, #4191e1 100%);
  background-image: linear-gradient(120deg, #a4d2ff 0%, #4191e1 100%);
  background-repeat: no-repeat;
  background-size: 120% 0.3em;
  background-position: 0 100%;
  -webkit-transition: background-size 0.25s ease-in;
  -o-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
}

.highlight--link:hover {
  background-size: 120% 100%;
}

pre {
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24),
    0 1.5px 6px rgba(0, 0, 0, 0.12), 0 3px 12px rgba(0, 0, 0, 0.23),
    0 3px 12px rgba(0, 0, 0, 0.16), 0 10px 20px rgba(0, 0, 0, 0.22),
    0 14px 56px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12),
    0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16),
    0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}

/* examples */
.blue--box--example {
  display: block;
  width: 100px;
  height: 100px;
  background: transparent;
  border: 4px solid blue;
}

.table--snake--pos {
  border: 4px solid black;
  border-collapse: collapse;
  position: relative;
  margin: 0 auto;
  min-width: 500px;
  height: 500px;
  background: transparent;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.table--snake--pos tr th {
  border: 1px solid black;
  min-width: 100px;
  height: 100px;
}

.table--snake--pos tr th {
  font-size: 2em;
  font-weight: 500;
  color: #a4d2ff;
  font-family: 'Raleway', sans-serif;
}

.table--snake--pos .snake--head {
  background: #4191e1;
}

.table--snake--pos .snake--parts {
  background: #626c78;
}

@media screen and (max-width: 768px) {
  .content--inner {
    padding: 100px 10%;
  }

  .content--title--link {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .menu--items a,
  .sub--menu--items a {
    font-size: 0.8em;
  }

  .menu--items .icon,
  .sub--menu--items .icon {
    font-size: 1.6em;
  }

  .open.sub--menu--items li {
    -webkit-transform: translateX(210px);
    -ms-transform: translateX(210px);
    transform: translateX(210px);
  }

  .menu--items li:nth-child(1),
  .sub--menu--items li:nth-child(1) {
    margin-left: 10px;
  }

  .menu--items li:nth-child(2),
  .sub--menu--items li:nth-child(2) {
    margin-left: 30px;
  }

  .menu--items li:nth-child(3),
  .sub--menu--items li:nth-child(3) {
    margin-left: 50px;
  }

  .menu--items li:nth-child(4) {
    margin-left: 70px;
  }

  .table--snake--pos {
    min-width: 250px;
    height: 250px;
  }

  .table--snake--pos tr th {
    min-width: 50px;
    height: 50px;
  }
}
